.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;

  &:has(.loading) {
    justify-content: center;
  }
}

.loading {
  font-size: 2rem;
  color: oklch(70.4% 0.04 256.788);
}
